.parallax-container {
    position: relative;
}

.parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Garantit que l'arrière-plan est derrière le contenu */
}